.fivecolleges .dijitMenu,
.fivecolleges .dijitMenuBar {
	border: 1px solid #7eabcd;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

.fivecolleges .dijitBorderContainer .dijitMenuBar {
	border:1px solid #ccc;
}

.fivecolleges .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
}

.fivecolleges .dijitMenuItem {
	padding: 4px 5px;
}

.fivecolleges .dijitMenuPreviousButton, .fivecolleges .dijitMenuNextButton {
	font-style: italic;
}
.fivecolleges .dijitMenuItem td {
	padding: 2px;
}

.fivecolleges .dijitMenuPassive .dijitMenuItemHover,
.fivecolleges .dijitMenuItemSelected {
	background-color: #3559ac;
	color:#fff;
}

.fivecolleges .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}

.fivecolleges .dijitMenuExpand {
	/* arrow to indicate this MenuItem opens a sub-menu */
	width: 7px;
	height: 7px;
	background-image: url('images/spriteArrows.png');
	background-position: -14px 0;
}
.dj_ie6 .fivecolleges .dijitMenuExpand {
	background-image: url('images/spriteArrows.gif');
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.fivecolleges .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}

.fivecolleges .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}

/* the checked menu item */
.fivecolleges .dijitCheckedMenuItemIconChar {
	display: none;
}

.fivecolleges .dijitCheckedMenuItemIcon {
	background-image: url('images/checkmark.png');
	background-position: -80px;
}

.dj_ie6 .fivecolleges .dijitCheckedMenuItemIcon {
	background-image: url('images/checkmark.gif');
}

.fivecolleges .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}